body,
html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

.app-container {
  text-align: center;
  max-width: 500px;
  padding: 0 24px;
  margin: 0 auto;
}

.city-name {
  font-weight: bold;
  font-size: 20px;
}

.weather-info {
  margin: 5px 0;
}

.forecast-header {
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.temp {
  font-weight: 300;
}